.modal-contact-form#modal-contact-form(style="display:none;")
    .modal-contact-form_title Мы всегда рады обсудить ваш проект
    .modal-contact-form_text Задайте вопрос или назначьте встречу
    .modal-contact-form_fields
        input(type="text" name="name" placeholder="Как к вам обращаться" value="")
        input(type="text" name="telephone" placeholder="Телефон" value="")
        input(type="text" name="email" placeholder="E-mail" value="")
        textarea(name="message" id="" cols="30" rows="10" placeholder="Напишите пару слов о вашем объекте и укажите предпочитаемое время для встречи.")
        button(class="btn btn-submit" type="submit") Отправить

