footer.footer
    .footer_top
        .row
            .col-4
                .footer_logo
                .footer_descr Дизайн-проект и ремонт в Днепре, дизайн-проект и ремонт в новострое и ЖК Днепра
            .col-4
                .footer_contacts
                    .footer_contact_title Свяжитесь с нами
                    .footer_contact_descr Телефон для контакта:
                    a.footer_contact_phone(href="tel:+380678035483") +38 (067) 803 54 83
            .col-4
                .footer_contacts
                    .footer_contact_title
                    .footer_contact_descr Email:
                    a.footer_contact_phone(href="mailto:krepost.co@gmail.com") krepost.co@gmail.com

    .footer_bottom
        .row
            .col-4.align-self-center
                .footer_address Cпуск крутогорный 12Б, Днепр
            .col-4
            .col-4
                .footer_socials
                    a.footer_socials_item.inst(href="#" target="_blank")
                    a.footer_socials_item.fb(href="https://www.facebook.com/krepostdp/" target="_blank")
                    a.footer_socials_item.youtube(href="https://www.youtube.com/channel/UCrVU2IflakZoIb5pkgKC_1w" target="_blank")

