header.header
    .header_wrap
        a.header_logo(href="index.html")
        .header_burger.js-burger
        .header_nav
            a(href="tel:+380973901218") +38 (097) 390 1218
            ul
                li
                    a(href="index.html").active Главная
                li
                    a(href="portfolio.html") Портфолио
                //li
                //    a(href="#") Блог