header.header
    .header_wrap
        .header_logo
        .header_nav
            ul
                li
                    a(href="tel:+380973901218") +38 (097) 390 1218
                li
                    a(href="index.html") Главная
                li
                    a(href="portfolio.html") Портфолио
                li
                    a(href="#") Блог