script(src="js/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" crossorigin="anonymous")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
script.
    (function (d, w, s) {
        var widgetHash = 'm5df1vjg4ob2kyzrjkv2', gcw = d.createElement(s);
        gcw.type = 'text/javascript';
        gcw.async = true;
        gcw.src = '//widgets.binotel.com/getcall/widgets/' + widgetHash + '.js';
        var sn = d.getElementsByTagName(s)[0];
        sn.parentNode.insertBefore(gcw, sn);
    })(document, window, 'script');
script.
    (function (d, w, s) {
        var widgetHash = '6hydayhyfftlxqexzcce', ctw = d.createElement(s);
        ctw.type = 'text/javascript';
        ctw.async = true;
        ctw.src = '//widgets.binotel.com/calltracking/widgets/' + widgetHash + '.js';
        var sn = d.getElementsByTagName(s)[0];
        sn.parentNode.insertBefore(ctw, sn);
    })(document, window, 'script');