doctype html
html(lang="en")
    include partials/head
    body
        main.main-wrap
            include ./partials/header
            section.first-section
                img(src="images/required/design-project-main-image.jpg" alt="")
                .first-section_panel
                    .first-section_title Дизайн-проект в Fortess
                    .first-section_descr Создаем вдохновляющие пространства, <br/> куда хочется возвращаться снова и снова
                    .first-section_btn
                        button.btn Заказать дизайн-проект
            section.steps-section
                .steps-section_container
                    .steps-section_title Детально рассчитываем <mark>стоимость всего ремонта</mark> <mark>до</mark> разработки дизайн-проекта
                    .row
                        .col-lg-3
                            .step_icon
                                .step-icon-1
                            .step_text Подбираем и утверждаем подходящий стиль
                        .col-lg-3
                            .step_icon
                                .step-icon-2
                            .step_text Вместе с вами определяем ценовой диапазон на материалы и технику. При необходимости оптимизируем расчет
                        .col-lg-3
                            .step_icon
                                .step-icon-3
                            .step_text Помогаем вам в подборе материалов на стадии визуализации учитывая границы бюджета
                        .col-lg-3.step-finish-item
                            .step_finish Именно эти шаги позволяют нам завершить ремонт в рамках заданного бюджета
            section.process-section
                .row.no-gutters
                    .col-lg-7
                        .process-section_content
                            .process-section_title Внимательно и бережно относимся к процессу
                            .process-section_descr Это помогает нам качественно реализовать желания наших клиентов оставаясь в рамках описанных бюджетов.
                            .row
                                .col-md-6
                                    .process-item
                                        .row
                                            .col-2
                                                .process-item_icon.progress-icon-1
                                            .col-10
                                                .process-item_content
                                                    .process-item_title Контролируем каждый этап
                                                    .process-item_text Авторский и технический надзор нашей командой на каждом из этапов работы
                                .col-md-6
                                    .process-item
                                        .row
                                            .col-2
                                                .process-item_icon.progress-icon-2
                                            .col-10
                                                .process-item_content
                                                    .process-item_title Обеспечиваем лучший микроклимат
                                                    .process-item_text Наши инженеры помогут подобрать лучшее оборудование и сделать теплотехнический расчет
                                .col-md-6
                                    .process-item
                                        .row
                                            .col-2
                                                .process-item_icon.progress-icon-3
                                            .col-10
                                                .process-item_content
                                                    .process-item_title Подбираем оптимальные материалы и комплектацию
                                                    .process-item_text Мы грамотно распределяем бюджет клиента, и предлагаем кастомные решения
                                .col-md-6
                                    .process-item
                                        .row
                                            .col-2
                                                .process-item_icon.progress-icon-4
                                            .col-10
                                                .process-item_content
                                                    .process-item_title Предлагаем лучшие <br/> условия доставки
                                                    .process-item_text Проверяем качество каждой доставки, с заменой бракованных материалов.

                                .col-12
                                    button.btn.btn-dark Расчитать стоимость
                    .col-lg-5
                        .process-section_block
                            .process-section_image
                                img(src="images/required/progress-image-3.jpg")
                            .process-section_logo-wrap
                                .process-section_logo



            section.work
                .work_title С чего мы начинаем работу
                .work_container
                    .row
                        .col-lg-3.work_item
                            .work_icon
                                .work-icon-1
                            .work_text Определяем потребности и бюджет с клиентом, находим гибкое решение для достижения результата

                        .col-lg-3.work_item
                            .work_icon
                                .work-icon-2
                            .work_text Дизайнер разрабатывает уникальное визуальное решение

                        .col-lg-3.work_item
                            .work_icon
                                .work-icon-3
                            .work_text Инженер обеспечивает наилучший микроклимат

                        .col-lg-3.work_item
                            .work_icon
                                .work-icon-4
                            .work_text Строители подбирают качественные материалы и воплощают идею в жизнь

            section.design-step
                .design-step_container
                    .design-step_title Что включает дизайн-проект
                    .row
                        .col-lg-3
                            .design-step_item
                                .design-step_item_icon
                                .design-step_item_text Описание концепции, эскизы и 3D- визуализацию проекта

                        .col-lg-3
                            .design-step_item
                                .design-step_item_icon
                                .design-step_item_text Чертежи пространства, описание необходимых перепланировок

                        .col-lg-3
                            .design-step_item
                                .design-step_item_icon
                                .design-step_item_text Схему разводки коммуникаций и расстановки мебели

                        .col-lg-3
                            .design-step_item
                                .design-step_item_icon
                                .design-step_item_text Смету на ремонтно- строительные работы и расчет стоимости материалов, оборудования и мебели

            section.portfolio
                .portfolio_content
                    .row.no-gutters
                        .col-12.col-md-6
                            .portfolio_item
                                .portfolio_item_name
                                    span.design-type тип дизайна
                                    | ЖК Comfort City
                                .portfolio_item_image
                                    img(src="images/example/img-portfolio-1.jpg")
                        .col-12.col-md-6
                            .portfolio_item
                                .portfolio_item_name
                                    span.design-type тип дизайна
                                    | ЖК Comfort City
                                .portfolio_item_image
                                    img(src="images/example/img-portfolio-2.jpg")
                        .col-12.col-md-6
                            .portfolio_item
                                .portfolio_item_name
                                    span.design-type тип дизайна
                                    | Проект “Glossy”
                                .portfolio_item_image
                                    img(src="images/example/img-portfolio-3.jpg")
                        .col-12.col-md-6
                            .portfolio_item
                                .portfolio_item_name
                                    span.design-type тип дизайна
                                    | ЖК Новодворянский
                                .portfolio_item_image
                                    img(src="images/example/img-portfolio-4.jpg")
                        .col-12.col-md-6
                            .portfolio_item
                                .portfolio_item_name
                                    span.design-type тип дизайна
                                    | ЖК Салют
                                .portfolio_item_image
                                    img(src="images/example/img-portfolio-5.jpg")
                        .col-12.col-md-6
                            .portfolio_item
                                .portfolio_item_name
                                    span.design-type тип дизайна
                                    | ЖК Панорама
                                .portfolio_item_image
                                    img(src="images/example/img-portfolio-6.jpg")

                .portfolio_footer.dark
                    button.btn Смотреть все проекты

            section.design-project
                .design-project_title Дизайн-проект в Fortes
                .design-project_container
                    .row
                        .col-lg-4
                            .design-project_item
                                .design-project_item_icon 01
                                .design-project_item_text Верное определение желаний и помощь в выборе вашего стиля

                        .col-lg-4
                            .design-project_item
                                .design-project_item_icon 02
                                .design-project_item_text Создание функциональных и комфортных условий для жизни

                        .col-lg-4
                            .design-project_item
                                .design-project_item_icon 03
                                .design-project_item_text Внимание к важнейшим деталям еще на этапе проектирования
            section.plans
                .plans_title Выберите тарифный план <br/> и давайте воплотим вашу идею в жинь
                .plans_container
                    .row
                        .col-md-6
                            .plans_item
                                .plans_item_top
                                    .plans_item_head
                                        .plans_item_title Стандартный
                                        .plans_item_type дизайн-проект
                                        .plans_item_price 15$/м²
                                    .plans_item_new-price 15$/м² + Комплектация! *
                                    .plans_item_content
                                        .plans_item_list
                                            .plans_item_list_title Что входит:
                                            ol
                                                li Разработка планировочного решения.
                                                li Разработка рабочей документации.
                                                li Ведомость материалов.
                                                li Технический надзор.
                                            .plans_item_list_title Инженерные сети:
                                            ol
                                                li Интеграция инженерных сетей.
                                                li Технологический расчет.
                                .plans_item_bottom
                                    .plans_item_btn-wrap
                                        button.btn.btn-black Заказать дизайн-проект
                                    .plans_item_descr *Действительно при заказе ремонта под ключ. Комплектация — подбор финишных материалов, мебели и элементов декора по специальным условиям.
                        .col-md-6
                            .plans_item
                                .plans_item_top
                                    .plans_item_head
                                        .plans_item_title Индивидуальный
                                        .plans_item_type дизайн-проект
                                        .plans_item_price 30$/м²
                                    .plans_item_new-price 20$/м² + Комплектация! *
                                    .plans_item_content
                                        .plans_item_list
                                            .plans_item_list_title Что входит:
                                            ol
                                                li Разработка планировочного решения.
                                                li Разработка рабочей документации.
                                                li Ведомость материалов.
                                                li Технический надзор.
                                                li 3D - визуализация.
                                                li Авторский надзор.

                                            .plans_item_list_title Инженерные сети:
                                            ol
                                                li Интеграция инженерных сетей.
                                                li Технологический расчет.
                                .plans_item_bottom
                                    .plans_item_btn-wrap
                                        button.btn.btn-black Заказать дизайн-проект
                                    .plans_item_descr *Действительно при заказе ремонта под ключ. Комплектация — подбор финишных материалов, мебели и элементов декора по специальным условиям.
            section.contact-form
                .contact-form_title Давайте повысим комфорт вашего жизненного пространства вместе!
                .contact-form_form
                    form
                        .row
                            .col-lg-4
                                input.contact-form_input(placeholder="Введите имя")
                            .col-lg-4
                                input.contact-form_input(placeholder="Введите телефон")
                            .col-lg-4
                                button.btn.btn-black Отправить запрос
            include partials/map
            include partials/footer
        include partials/scripts
        script(src="js/vendor.js")
        script(src="js/custom.js")
        script(src="js/custom.js")